### Munging part 1

In [30]:
import pandas as pd
import numpy as np

In [31]:
pd.get_option("display.max_columns")
df = pd.read_csv('../csv/rest_type_columns.csv', index_col=False)

df.sample()

,Unnamed: 0,Unnamed: 0.1,id,name,phone,address,category_alias,category_title,rating,review_count,lat,lon,tit1,tit2,tit3,3,4,5
12286,12286,12286,NxEcq1e8xVifLbEBAgLU-g,Los Almendro's Bakery,1.818244e+10,"6604 San Fernando Rd Glendale, CA 91201","bakeries, latin, cuban,","Bakeries, Latin American, Cuban,",4.5,45,34.16914,-118.29217,Bakeries,Latin American,Cuban,,NaN,NaN

In [32]:
# # uncomment to category title split
# split=df.join(
#     df['category_title'].str.split(',', expand=True).rename(
#          columns={0:'tit1', 1:'tit2', 2:'tit3'}
#      )
# )

In [33]:
# split.to_csv('rest_type_columns.csv', Index=False)

In [34]:
# df.info()

In [35]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

df.sample(5)

,id,name,phone,address,category_alias,category_title,rating,review_count,lat,lon,tit1,tit2,tit3,3,4,5
13116,PChaCbEqj0DD57yKhCawVg,Century Restaurant,NaN,"6225 W Century Blvd Los Angeles, CA 90045","newamerican,","American (New),",3.0,1,33.946213,-118.395096,American (New),,NaN,NaN,NaN,NaN
8126,hE4Lx-jR1kgyUQZLXjeeNw,Charlies Hot Dogs,1.323686e+10,"1017 Santee St Los Angeles, CA 90015","foodtrucks, hotdog,","Food Trucks, Hot Dogs,",5.0,1,34.038640,-118.255850,Food Trucks,Hot Dogs,,NaN,NaN,NaN
7726,GQZm7iejbk__4chnKxGUIA,Belcampo - DTLA/Grand Central Market,1.213625e+10,317 S Broadway Grand Central Market Los Ange...,"newamerican, burgers, healthmarkets,","American (New), Burgers, Health Markets,",3.5,535,34.050579,-118.248674,American (New),Burgers,Health Markets,,NaN,NaN
5359,CZjm5WUwZvv6uw_tjnzApw,Jack in the Box,1.310325e+10,"2101 Palos Verdes Dr N Lomita, CA 90717","burgers, hotdogs, tacos,","Burgers, Fast Food, Tacos,",2.5,19,33.776210,-118.316861,Burgers,Fast Food,Tacos,,NaN,NaN
15078,SFoheJG_o0nRDe7KBILusQ,Almansor Grill,1.626570e+10,"630 S Almansor St Alhambra, CA 91801","tradamerican,","American (Traditional),",4.5,260,34.090171,-118.116034,American (Traditional),,NaN,NaN,NaN,NaN

In [36]:
zipcodes = list()

for item in df['address']:
    zipcode = item.split()[-1]
    zipcodes.append(zipcode)

df['zipcodes'] = zipcodes
df = pd.DataFrame(df)
df.sample()

,id,name,phone,address,category_alias,category_title,rating,review_count,lat,lon,tit1,tit2,tit3,3,4,5,zipcodes
11462,MmgR34oNwYKVgzDJWCOc6g,Sagami-Tei,1.714843e+10,"16511 Magnolia St Westminster, CA 92683","sushi, teppanyaki,","Sushi Bars, Teppanyaki,",3.5,488,33.722715,-117.972435,Sushi Bars,Teppanyaki,,NaN,NaN,NaN,92683

In [37]:
#uncomment to split category alias 

# df.join(
#     df['category_alias'].str.split(',', expand=True).rename(
#          columns={0:'al1', 1:'al2', 2:'al3'}
#      )
# )

In [38]:
# df.info()

In [39]:
df.tit3.value_counts()

                           6092
 Sandwiches                 827
 Breakfast & Brunch         587
 Coffee & Tea               324
 American (Traditional)     308
                           ...
 Face Painting                1
 Amusement Parks              1
 Musicians                    1
 Comedy Clubs                 1
 Performing Arts              1
Name: tit3, Length: 214, dtype: int64

In [40]:
df.tit2.value_counts()

                        6440
 Fast Food               896
 Breakfast & Brunch      846
 Mexican                 753
 Burgers                 644
                        ...
 Beaches                   1
 Do-It-Yourself Food       1
 Bowling                   1
 Georgian                  1
 Egyptian                  1
Name: tit2, Length: 229, dtype: int64

In [41]:
df.tit1.value_counts()

Mexican          2549
Pizza            1193
Burgers           915
Fast Food         911
Chinese           793
                 ...
Macarons            1
Gyms                1
Pop-up Shops        1
Calabrian           1
Imported Food       1
Name: tit1, Length: 246, dtype: int64

In [42]:
df['5'].value_counts()

     2
Name: 5, dtype: int64

In [43]:
# df.drop(['category_alias', 'phone'], axis=1, inplace=True)

In [44]:
# df.dropna()
# df.head()

In [45]:
found = df[df['id'].str.contains('#NAME?')]
#print(found.count())
found.sample(2)

,id,name,phone,address,category_alias,category_title,rating,review_count,lat,lon,tit1,tit2,tit3,3,4,5,zipcodes
19986,#NAME?,Ramona's Mexican Delicatessen,1.310517e+10,"16300 Crenshaw Blvd Ste 104 Torrance, CA 90504","mexican,","Mexican,",2.5,282,33.882726,-118.326155,Mexican,,NaN,NaN,NaN,NaN,90504
20029,#NAME?,Number Nine,1.562434e+10,"2118 E 4th St Long Beach, CA 90814","vietnamese, bars, noodles,","Vietnamese, Bars, Noodles,",3.5,984,33.771435,-118.166016,Vietnamese,Bars,Noodles,,NaN,NaN,90814

In [46]:
# df.dtypes
#df.info()

In [47]:
#drop low frequency columns
df=df.drop(['3','4','5', 'phone', 'tit3', 'category_alias', 'category_title'], axis=1)
df.sample()

,id,name,address,rating,review_count,lat,lon,tit1,tit2,zipcodes
15203,sn0XT7nqAXz0qhid8L4-qQ,Oono Sushi,"Los Angeles, CA 90067",5.0,16,34.057133,-118.41485,Sushi Bars,Food Stands,90067

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20087 entries, 0 to 20086
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            20087 non-null  object
 1   name          20087 non-null  object
 2   address       20087 non-null  object
 3   rating        20087 non-null  float64
 4   review_count  20087 non-null  int64
 5   lat           20087 non-null  float64
 6   lon           20087 non-null  float64
 7   tit1          20085 non-null  object
 8   tit2          20085 non-null  object
 9   zipcodes      20087 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 1.5+ MB

In [49]:
df.dropna()

,id,name,address,rating,review_count,lat,lon,tit1,tit2,zipcodes
0,__4rPIbNWudQVuoaRs2MuQ,Best Shawarma,"602 W Glenoaks Blvd Glendale, CA 91202",4.0,349,34.159455,-118.267173,Middle Eastern,Barbeque,91202
1,__6hsNl6ibtI6OE5NQQiPw,Taco Bell,"2500 E Pacific Coast Hwy Long Beach, CA 90804",2.0,89,33.789873,-118.162498,Fast Food,Mexican,90804
2,__cvgBooF6k2Ra0nA14NGg,Bottlefish,"11677 San Vicente Blvd Ste 200 Los Angeles, ...",4.5,274,34.054000,-118.464759,Bars,Seafood,90049
3,__D9TH9-JRh_7CvWJcPZcQ,Baby Lobster,"1001 Maple Ave Ste 201 Los Angeles, CA 90015",3.0,49,34.038311,-118.254250,Seafood,Mexican,90015
4,__GK0tVl6Dygt6BVn2TFrA,China Star Express,"1785 Palo Verde Ave Long Beach, CA 90815",3.5,209,33.788383,-118.108055,Chinese,Fast Food,90815
...,...,...,...,...,...,...,...,...,...,...
20082,#NAME?,Bread Crumb Ohana Cafe,"19079 Beach Blvd Huntington Beach, CA 92648",4.0,1181,33.685322,-117.990534,Breakfast & Brunch,American (New),92648
20083,#NAME?,Nile Cafe,"3753 E Anaheim St Long Beach, CA 90804",3.5,165,33.782612,-118.148194,Mediterranean,Hookah Bars,90804
20084,#NAME?,Taco Bell,"2500 Pacific Coast Hwy Long Beach, CA 90804",3.0,13,33.819121,-118.223623,Fast Food,Mexican,90804
20085,#NAME?,Subway,"555 E Ocean Blvd Ste 105 Long Beach, CA 90802",2.0,58,33.767044,-118.185293,Sandwiches,,90802
20086,#NAME?,El Pollo Loco,"1212 Bellflower Blvd Long Beach, CA 90815",2.5,15,33.781273,-118.113445,Mexican,Fast Food,90815

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20087 entries, 0 to 20086
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            20087 non-null  object
 1   name          20087 non-null  object
 2   address       20087 non-null  object
 3   rating        20087 non-null  float64
 4   review_count  20087 non-null  int64
 5   lat           20087 non-null  float64
 6   lon           20087 non-null  float64
 7   tit1          20085 non-null  object
 8   tit2          20085 non-null  object
 9   zipcodes      20087 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 1.5+ MB

In [51]:
new=df.groupby('tit1').count()

new.head()

,id,name,address,rating,review_count,lat,lon,tit2,zipcodes
tit1,,,,,,,,,
Acai Bowls,11,11,11,11,11,11,11,11,11
Afghan,1,1,1,1,1,1,1,1,1
African,7,7,7,7,7,7,7,7,7
American (New),638,638,638,638,638,638,638,638,638
American (Traditional),434,434,434,434,434,434,434,434,434

In [52]:
new=new.sort_values(['zipcodes',], ascending=False)
new.head(20)

,id,name,address,rating,review_count,lat,lon,tit2,zipcodes
tit1,,,,,,,,,
Mexican,2549,2549,2549,2549,2549,2549,2549,2549,2549
Pizza,1193,1193,1193,1193,1193,1193,1193,1193,1193
Burgers,915,915,915,915,915,915,915,915,915
Fast Food,911,911,911,911,911,911,911,911,911
Chinese,793,793,793,793,793,793,793,793,793
Sandwiches,733,733,733,733,733,733,733,733,733
Japanese,665,665,665,665,665,665,665,665,665
American (New),638,638,638,638,638,638,638,638,638
Korean,573,573,573,573,573,573,573,573,573
Food Trucks,473,473,473,473,473,473,473,473,473
Seafood,467,467,467,467,467,467,467,467,467
Sushi Bars,459,459,459,459,459,459,459,459,459
Italian,454,454,454,454,454,454,454,454,454
Thai,441,441,441,441,441,441,441,441,441
American (Traditional),434,434,434,434,434,434,434,434,434
Breakfast & Brunch,416,416,416,416,416,416,416,416,416
Coffee & Tea,403,403,403,403,403,403,403,403,403
Vietnamese,340,340,340,340,340,340,340,340,340
Cafes,313,313,313,313,313,313,313,313,313
Tacos,281,281,281,281,281,281,281,281,281

In [53]:
# df.replace('', np.nan, inplace=True)
# df.sample()

In [54]:
df.isnull().any(axis = 0).sum()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20087 entries, 0 to 20086
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            20087 non-null  object
 1   name          20087 non-null  object
 2   address       20087 non-null  object
 3   rating        20087 non-null  float64
 4   review_count  20087 non-null  int64
 5   lat           20087 non-null  float64
 6   lon           20087 non-null  float64
 7   tit1          20085 non-null  object
 8   tit2          20085 non-null  object
 9   zipcodes      20087 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 1.5+ MB

In [55]:
df.to_csv('../csv/la_rest_clean_columns.csv', index=False )